n8n-workflow-corregido.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "aa26a87a-58a8-4346-b471-02564240f321",
      "name": "Daily Trigger at 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1488,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "sanityProjectId",
              "value": "y39srr1t",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "sanityDataset",
              "value": "production",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "sanityApiVersion",
              "value": "2024-11-06",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "notificationEmail",
              "value": "contacto@rcolabs.es",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "f3318c3b-5d6d-412b-bfcd-d9ce70105085",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1264,
        400
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "18MyA9MsCmwIkUYIF1PYlgwz0iBrpVckdrZt5sleoFAs",
          "mode": "list",
          "cachedResultName": "CALENDARIO DE POSTS - SEO - TCSYSTEMS.ES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18MyA9MsCmwIkUYIF1PYlgwz0iBrpVckdrZt5sleoFAs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18MyA9MsCmwIkUYIF1PYlgwz0iBrpVckdrZt5sleoFAs/edit#gid=0"
        },
        "options": {}
      },
      "id": "2f515acb-af09-43bf-bfb3-08ae1ab4c620",
      "name": "Read Google Sheets Posts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1040,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "syaloskngi1hUf0R",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.normalized_date }}",
              "rightValue": "={{ $now.toFormat('dd/MM/yyyy') }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ $json.Estado }}",
              "rightValue": "publicado",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "b9d009b2-490d-4bec-bc38-2c9f92fc334c",
      "name": "Check if Post is Scheduled for Today",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -592,
        400
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "GPT-4"
        },
        "responses": {
          "values": [
            {
              "content": "=Eres un experto redactor SEO y desarrollador de contenido para blogs especializados en tecnología de autoservicio y sistemas de pago automático. Tu tarea es crear un artículo completo optimizado para SEO, usando los datos que te proporciono. El resultado debe estar listo para subir a Sanity CMS en formato Portable Text.\n\nDatos del artículo:\n- Título: {{ $json[\"Título\"] }}\n- Categorías: {{ $json[\"Categorías\"] }}\n- Tipo: {{ $json.Tipo }}\n- Meta Título: {{ $json[\"Meta Título\"] }}\n- Meta Descripción: {{ $json[\"Meta Descripción\"] }}\n- Keywords: {{ $json.Keywords }}\n\nInstrucciones:\n1. Genera un contenido COMPLETO y EXTENSO (mínimo 1200 palabras), dividido en secciones con encabezados H2 y H3.\n2. Incluye los términos de las keywords de forma natural en el texto.\n3. Crea un extracto de hasta 160 caracteres para la vista previa.\n4. Mantén el estilo profesional, educativo y persuasivo.\n5. Genera UN ÚNICO _key por bloque usando este formato: 'block-' + número secuencial (block-1, block-2, etc)\n6. Genera UN ÚNICO _key por span usando este formato: 'span-' + número secuencial (span-1, span-2, etc)\n7. El slug debe ser: minúsculas, con guiones, sin acentos, sin caracteres especiales.\n8. La categoría DEBE ser exactamente una de estas: \"Tecnología\", \"Casos de Éxito\", \"Guías\", \"Experiencia Cliente\", \"Sostenibilidad\", \"Seguridad\"\n9. Usa negritas (marks: [\"strong\"]) en términos clave importantes.\n10. Calcula el tiempo de lectura aproximado (200 palabras por minuto).\n\nDevuelve ÚNICAMENTE este JSON (sin comentarios, sin explicaciones, SOLO el JSON):\n\n{\n  \"mutations\": [\n    {\n      \"create\": {\n        \"_type\": \"blogPost\",\n        \"title\": \"[TÍTULO COMPLETO AQUÍ]\",\n        \"slug\": {\n          \"_type\": \"slug\",\n          \"_key\": \"slug\",\n          \"current\": \"[slug-url-friendly]\"\n        },\n        \"excerpt\": \"[Extracto de máximo 160 caracteres]\",\n        \"category\": \"[UNA de las categorías válidas]\",\n        \"tags\": [\"tag1\", \"tag2\", \"tag3\", \"tag4\"],\n        \"publishedAt\": \"{{ $now.toISO() }}\",\n        \"readTime\": \"[X min]\",\n        \"featured\": false,\n        \"content\": [\n          {\n            \"_type\": \"block\",\n            \"_key\": \"block-1\",\n            \"style\": \"normal\",\n            \"children\": [\n              {\n                \"_type\": \"span\",\n                \"_key\": \"span-1\",\n                \"text\": \"Párrafo introductorio completo aquí...\",\n                \"marks\": []\n              }\n            ],\n            \"markDefs\": []\n          },\n          {\n            \"_type\": \"block\",\n            \"_key\": \"block-2\",\n            \"style\": \"h2\",\n            \"children\": [\n              {\n                \"_type\": \"span\",\n                \"_key\": \"span-2\",\n                \"text\": \"Primer encabezado H2\",\n                \"marks\": []\n              }\n            ],\n            \"markDefs\": []\n          },\n          {\n            \"_type\": \"block\",\n            \"_key\": \"block-3\",\n            \"style\": \"normal\",\n            \"children\": [\n              {\n                \"_type\": \"span\",\n                \"_key\": \"span-3\",\n                \"text\": \"Contenido del primer párrafo después del H2. Usa \",\n                \"marks\": []\n              },\n              {\n                \"_type\": \"span\",\n                \"_key\": \"span-4\",\n                \"text\": \"negritas para términos importantes\",\n                \"marks\": [\"strong\"]\n              },\n              {\n                \"_type\": \"span\",\n                \"_key\": \"span-5\",\n                \"text\": \" y continúa el texto normalmente.\",\n                \"marks\": []\n              }\n            ],\n            \"markDefs\": []\n          }\n        ],\n        \"seo\": {\n          \"_type\": \"object\",\n          \"metaTitle\": \"{{ $json[\"Meta Título\"] }}\",\n          \"metaDescription\": \"{{ $json[\"Meta Descripción\"] }}\",\n          \"keywords\": [\"keyword1\", \"keyword2\", \"keyword3\"]\n        }\n      }\n    }\n  ]\n}\n\nRECUERDA:\n- DEBE ser \"_type\": \"blogPost\" (NO \"post\")\n- Cada bloque necesita _key ÚNICO secuencial\n- Cada span necesita _key ÚNICO secuencial\n- Mínimo 8-10 bloques de contenido\n- Usa H2 para secciones principales, H3 para subsecciones\n- Incluye al menos 3-4 secciones H2\n- NO uses comillas dobles dentro del texto (usa comillas simples si es necesario)\n- El JSON debe ser válido y parseble"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "08aa8e71-5409-4034-b864-ed301ebb1bca",
      "name": "Generate Blog Content with ChatGPT",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -368,
        384
      ],
      "credentials": {
        "openAiApi": {
          "id": "wLUvC9XWhz9AOufH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extrae el texto del output de ChatGPT\nconst chatGPTText = $input.item.json.output[0].content[0].text;\n\n// Limpia el texto por si tiene markdown\nlet cleanedText = chatGPTText.trim();\n\n// Si el texto viene envuelto en ```json ... ```, quitarlo\nif (cleanedText.startsWith('```json')) {\n  cleanedText = cleanedText.replace(/^```json\\s*/, '').replace(/```\\s*$/, '');\n} else if (cleanedText.startsWith('```')) {\n  cleanedText = cleanedText.replace(/^```\\s*/, '').replace(/```\\s*$/, '');\n}\n\n// Convierte el string en JSON real\nconst sanityPost = JSON.parse(cleanedText);\n\n// Retorna para el siguiente nodo (HTTP Request a Sanity)\nreturn {\n  json: sanityPost\n};"
      },
      "id": "aa4d3d23-3418-4650-aa36-baa2578bbd51",
      "name": "Format Content for Sanity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Workflow Configuration').first().json.sanityProjectId }}.api.sanity.io/v{{ $('Workflow Configuration').first().json.sanityApiVersion }}/data/mutate/{{ $('Workflow Configuration').first().json.sanityDataset }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer sk0dY7p2pwKoykJbLZx3UFVakWLsapvXoKZi4On70HFx5pW2ZYT2WcgmD2PxQO79D97u6xojSLmE6KV82YWKGM9mCpZrRk9GewmXVHS2YjQyUHwd085PYLdybTMSi5b1pol0pf7fLdWs1I7D4NidFQgGUVHjSKMVN1nlV44pDZ9AJPFR9ZGU"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Format Content for Sanity').first().json }}",
        "options": {}
      },
      "id": "0402bbdf-28a5-4c44-b046-234f217d9ca4",
      "name": "Create Post in Sanity CMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        384
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "18MyA9MsCmwIkUYIF1PYlgwz0iBrpVckdrZt5sleoFAs"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Hoja 1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Estado": "publicado",
            "URL": "={{ 'https://tcsystems.es/blog/' +  $('Format Content for Sanity').item.json.mutations[0].create.slug.current }}",
            "row_number": 0,
            "Título": "={{ $('Format Content for Sanity').item.json.mutations[0].create.title }}"
          },
          "matchingColumns": [
            "Título"
          ],
          "schema": [
            {
              "id": "Título",
              "displayName": "Título",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Categorías",
              "displayName": "Categorías",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Meta Título",
              "displayName": "Meta Título",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Meta Descripción",
              "displayName": "Meta Descripción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d7a05b73-882d-4274-9fde-cf6b6e805895",
      "name": "Update Google Sheets Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        432,
        384
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "syaloskngi1hUf0R",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer re_YztzrCbi_BEbEWtqcjGoKan24E2SkP2pA"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"noreply@rcolabs.es\",\n  \"to\": \"{{ $('Workflow Configuration').item.json.notificationEmail }}\",\n  \"subject\": \"✅ Blog Post Published Successfully - TCSystems\",\n  \"html\": \"<div style='font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;'><h2 style='color: #0e9acd;'>✅ Blog Post Published</h2><p>Your blog post has been successfully published to Sanity CMS and is now live on the website.</p><div style='background: #f5f5f5; padding: 15px; border-radius: 8px; margin: 20px 0;'><p><strong>Title:</strong> {{ $('Format Content for Sanity').item.json.mutations[0].create.title }}</p><p><strong>Category:</strong> {{ $('Format Content for Sanity').item.json.mutations[0].create.category }}</p><p><strong>URL:</strong> <a href='https://tcsystems.es/blog/{{ $('Format Content for Sanity').item.json.mutations[0].create.slug.current }}' style='color: #0e9acd;'>https://tcsystems.es/blog/{{ $('Format Content for Sanity').item.json.mutations[0].create.slug.current }}</a></p><p><strong>Status:</strong> <span style='color: green;'>Published</span></p></div><p style='color: #666; font-size: 12px;'>This is an automated notification from your blog publishing workflow.</p></div>\"\n}",
        "options": {}
      },
      "id": "2e646acd-3ca6-4cdc-a56d-c97c48e22e5d",
      "name": "Send Notification via Resend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        640,
        384
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get the Fecha field from Google Sheets\nconst fecha = $input.item.json.Fecha;\n\n// Function to normalize date to dd/MM/yyyy format\nfunction normalizeDate(dateStr) {\n  if (!dateStr) return '';\n  \n  // Trim whitespace\n  dateStr = dateStr.trim();\n  \n  // Split by /\n  const parts = dateStr.split('/');\n  \n  if (parts.length !== 3) return dateStr; // Return original if not in expected format\n  \n  // Pad day and month with leading zeros if needed\n  const day = parts[0].padStart(2, '0');\n  const month = parts[1].padStart(2, '0');\n  const year = parts[2];\n  \n  return `${day}/${month}/${year}`;\n}\n\n// Normalize the date\nconst normalizedDate = normalizeDate(fecha);\n\n// Return all original fields plus the normalized_date field\nreturn {\n  json: {\n    ...$input.item.json,\n    normalized_date: normalizedDate\n  }\n};"
      },
      "id": "99d6c163-401a-4c06-a516-e9d880ac15a2",
      "name": "Parse and Normalize Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        400
      ]
    }
  ],
  "connections": {
    "Daily Trigger at 09:00": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Read Google Sheets Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Sheets Posts": {
      "main": [
        [
          {
            "node": "Parse and Normalize Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Post is Scheduled for Today": {
      "main": [
        [
          {
            "node": "Generate Blog Content with ChatGPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Blog Content with ChatGPT": {
      "main": [
        [
          {
            "node": "Format Content for Sanity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Content for Sanity": {
      "main": [
        [
          {
            "node": "Create Post in Sanity CMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Post in Sanity CMS": {
      "main": [
        [
          {
            "node": "Update Google Sheets Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Google Sheets Status": {
      "main": [
        [
          {
            "node": "Send Notification via Resend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and Normalize Date": {
      "main": [
        [
          {
            "node": "Check if Post is Scheduled for Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "741e0e6e3dc6386db7fbe459583c27dda67559f465d918e9feabbfe546708d1c"
  }
}

